<div class="modal fade in" id="emailform" tabindex="-1" role="dialog" aria-labelledby="#" aria-hidden="true">
  <div class="modal-dialog">
    <div id="initialButtonContainer">
        <button class="btn">Send Us a Message</button>
        <button class="btn">Schedule an Appointment</button>
    </div>
    <div class="modal-content">
        <form action="https://formspree.io/michael@crudex.com" method="POST">
      <div class="modal-body text-left" >
        <button id="closeButton" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          
        <!-- Calendly inline widget begin -->
        <div style="display:none; position: absolute; width: 95%; height: 100%; opacity: 0" class="calendly-inline-widget" data-url="https://calendly.com/oliverullman" style="min-width:320px;height:580px;"></div>
        <script type="text/javascript" src="https://calendly.com/assets/external/widget.js"></script>
        <!-- Calendly inline widget end -->
         
        <div class="formSpree" style="opacity: 0; z-index: -5">
            <h2 class="text-center">Send Us a Message</h2>
            <div>
              <div class='form-group'>
                <div class="input">
                  <label class="text">
                    Your Name
                  </label>
                  <input aria-required="true" class="string text form-control" maxlength="255" name="Name" placeholder="Jane Smith" type="text" value="" id="profile_name" required/>
                </div>
              </div>

              <div class='form-group'>
                <div class="input">
                  <label class="text">
                    Email Address
                  </label>
                  <input aria-required="true" class="string text form-control" maxlength="255"  name="Email" id="profile_email" placeholder="janesmith@example.com" type="text" value="" required/>
                </div>
              </div>
                
              <div class='form-group'>
                <div class="input">
                  <label class="text">
                    Phone
                  </label>
                  <input aria-required="true" class="string text form-control" maxlength="255"  name="Phone" id="profile_phone" placeholder="123-456-1234" type="text" value="" required/>
                </div>
              </div>
                
              <div class='form-group'>
                <div class="field-box">
                <label class="text">Message</label>
                <textarea class="form-control" id="profile_message" name="Message" rows="4" required></textarea>
                </div>
              </div>
                
              <div class='form-group'>
                <h4 style="color: #ba1616; margin-top: 10px">What Basin Are You In?</h4>
                <div class="field-box checkboxContainer">
                  <div>
                      <input type="checkbox" name="basin" value="West Coast" class="firstCheck"/>West Coast
                  </div>
                  <div>
                      <input type="checkbox" name="basin" value="Rockies" />Rockies
                  </div>
                  <br/>
                  <div>
                      <input type="checkbox" name="basin" value="Mid-Continent" class="firstCheck"/>Mid-Continent
                  </div>
                  <div>
                      <input type="checkbox" name="basin" value="West Texas/NM" />West Texas/NM
                  </div>
                  <br/>
                  <div>
                      <input type="checkbox" name="basin" value="Gulf Coast" class="firstCheck"/>Gulf Coast
                  </div>
                  <div>
                      <input type="checkbox" name="basin" value="Northeast" />Northeast
                  </div>
                  <br/>
                </div>
              </div>    
                
            </div>
          </div>
            
      </div><!-- modal body -->

      <div class="modal-footer formSpree" style="opacity: 0; z-index: -5">
        <div class='form-actions text-center'>
            <button id="update_profile_submit" class="button btn btn-success" name="Submit" aria-label="Close">Submit</button>
        </div>
      </div>
    </form>

    </div>
  </div>
</div>
