<!-- Services Section -->
    <section id="services">
        <div class="row text-center">
            <div class="background col-md-4" id="left">
                <img src="img/pump2.png" />
                <div class="clickableService">
                    <h2>Producers</h2>
                    <hr/>
                    <p>Bring your barrels online to optimize revenue and reduce effort.</p>
                    <ul>
                        <li> Run a competitive auction to uncover new purchasers</li>
                        <li>Determine real market value</li>
                        <li>Keep your current purchaser order</li>
                        <li>Switch haulers and purchasers smoothly</li>
                        <li>Back office analytics on daily hauled volume and revenue</li>
                        <button class="servicesButton btn">Talk to Us!</button>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 background" id="middle">
                <img src="img/money.png" />
                <div class="clickableService" >
                    <h2>Buyers</h2>
                    <hr/>
                    <p>Transact at the wellhead with speed and ease. Find produced wellhead volumes in your area. Quickly identify available volume using our map view. Then, evaluate quality, volume and decline rates to quickly work up your bid. Know where market value is by seeing the “high bid” displayed during the auction.</p>
                    <ul>
                        <li> Discover new production in your area</li>
                        <li>Evaluate volume, quality, and hauling route</li>
                        <li>Please a bid and see other “high bids”</li>
                        <li>Last look to bid to win.</li>
                        <button class="servicesButton btn">Register Interest</button>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 background" id="right">
                <img src="img/truck2.png" />
                <div class="clickableService">
                    <h2>Haulers</h2>
                    <hr/>
                    <p>Gain exposure to purchasers bidding on production.</p>
                    <ul>
                        <li>Identify both on-road and off-road miles and road type</li>
                        <li>Competitively bid rate sheets on origin and destination</li>
                        <button class="servicesButton btn">Register Interest</button>
                    </ul>
                </div>
            </div>
        </div>
    </section>