<!-- Services Section -->
    <section id="services">
        <div class="row text-center">
            <div class="background col-md-4" id="left">
                <img src="img/pump2.png" />
                <div class="clickableService">
                    <h2>Producers</h2>
                    <hr/>
                    <p>Market our production with speed and efficiency. Automate the bid process and easily evaluate buyers on performance, safety, credit, and payment terms. Leverage industry best practices and expertise.</p>
                    <ul>
                        <li> Run a competitive auction to uncover new purchasers</li>
                        <li>Determine real market value</li>
                        <li>Keep your current purchaser order</li>
                        <li>Switch haulers and purchasers smoothly</li>
                        <li>Back office analytics on daily hauled volume and revenue</li>
                        <button class="servicesButton btn">Talk to Us!</button>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 background" id="middle">
                <img src="img/money.png" />
                <div class="clickableService" >
                    <h2>Buyers</h2>
                    <hr/>
                    <p>Transact at the wellhead with speed and ease. Quickly identify upcoming production and vetted haulers. See market value through live bidding.</p>
                    <ul>
                        <li>Discover new production in your area</li>
                        <li>Evaluate volume, quality, decline, and hauling</li>
                        <li>Bid to win - know what it takes</li>
                        <button class="servicesButton btn">Register Interest!</button>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 background" id="right">
                <img src="img/truck2.png" />
                <div class="clickableService">
                    <h2>Haulers</h2>
                    <hr/>
                    <p>Gain exposure to our network of producers and purhcasers. Increase payloads in existing operation areas. Earn credibility for safety and performance.</p>
                    <ul>
                        <li>Identify wellhead location and haul distance</li>
                        <li>Know both on-road and off-road miles and road type</li>
                        <li>Competitively bid based on origin and destination</li>
                        <button class="servicesButton btn">Register Interest</button>
                    </ul>
                </div>
            </div>
        </div>
    </section>