<!DOCTYPE html>
<html>

  {% include head.html %}


    <body id="page-top" class="index">

    {% include header.html %}
    {% include services.html %}
    {% include about.html %}
    {% include team.html %}
    {% include clients.html %}
    {% include contact.html %}
    {% include footer.html %}
    {% include modals.html %}
    {% include js.html %}
        <form method="POST" action="http://formspree.io/oliverullman@gmail.com">
  <input type="email" name="email" placeholder="Your email">
  <br>
  <textarea name="message" placeholder="Your message"></textarea>
  <button type="submit">Send</button>
</form>
    </body>
</html>