<!DOCTYPE html>
<html>

  {% include head.html %}


    <body id="page-top" class="index">

    {% include header.html %}
    {% include services.html %}
    {% include about.html %}
    {% include team.html %}
    {% include clients.html %}
    {% include contact.html %}
    {% include footer.html %}
    {% include modals.html %}
    {% include js.html %}
        <form method="POST" action="http://formspree.io/oliverullman@gmail.com">
            <div><input type="email" name="email" placeholder="Your email"></div>
  <br>
  <div><div><textarea name="message" placeholder="Your message"></textarea></div></div>
            <div><button type="submit">Send</button></div>
</form>
    </body>
</html>